body{
	margin:0;
	padding: 0;
	text-align: center;
	background: background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.7)),url(lechall2.jpg);;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}
.contact-title{
	margin-top: 5px;
	color: #fff;
	text-transform: uppercase;
	transition: all 3s ease-in-out;
}
.contact-title h1{
	font-size:32px;
	color: #fff;
	line-height: 10px;

}

.contact-title h2{
	color: #fff;
	font-size:16px;
	
}
.container-fluid {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
}
form{
	margin-top: 50px;
	transition: all 3s ease-in-out;
}

.form-control{
	width: 600px;
	background: transparent;
	border:none;
	outline: none;
	border-bottom: 1px solid rgb(255, 255, 255);
	color: #fff;
	font-size: 18px;
	margin-bottom: 16px;
}

input{
	height: 45px;
}

form .submit{
	background: #00832e;
	border-color:transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	margin-top: 20px;
}

form .submit:hover{
	background-color: #f44336;
	cursor: pointer
}





.banner-area{
	background-image: url('nsbm.jpg');
	background-position: center center;
	-webkit-background-size:cover;
	background-size: cover;
	height: 20vh
}

body{
	margin:0;
	padding:0;
}

header{
	padding: 15px 60px;
}
.menu{
	width: 20%;
	float: right;list-style: none;
}

.menu li{
	width: 100px;
	height: : 50px;
	line-height: 50px;
	text-align: center;
	color: #999999;
	font-size: 18px;
	float: left;
}
.menu li:hover{
	border-color: black;
	background-color: #0d3300;
	transition: 1s;
	color: #262626;
}
.menu li:hover{
	color: #262626;
}


.menu li a{
	text-decoration: none;
	font-family: baloon;
	color: #fff;
	text-transform: uppercase;
}

.logo{
	text-decoration: none;
	color: #fff;
	font-size: 30px;
	font-family:baloon;
	padding: 0px 30px;
	width: 20%;
	float:middle;
	font-weight: bolder;}


.banner-text{
	position: absolute;
	top: 2%;
	left: 50%;
	transform: translate(-50%,50%);
	color: black;
	text-align: center;
}

.banner-text{
	font-family:baloon;
	font-weight: bolder;
	margin: 0;
	font-size: 55px;
	color: yellow;
}
.banner-text a{
	text-decoration: none;
	border:1px solid #fff;
	font-size: 17px;
	padding: 35px 35px;
	color:#fff;
	display: inline-block;
	margin-top: 10%;
	font-family: poppins;
	text-transform: uppercase;
}
.banner-text a:hover{
	border-color: black;
	background-color: yellow;
	transition: 1s;
	color: #262626;
}